*{
	margin: 0;
	padding: 0;
}
body { 

	font: 13px Helvetica, Arial; 

}

form {
	
	background: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 3px;
	margin-bottom: 5px; 
}

form input {
	
	border: 0;
	padding: 10px;
	width: 88%;
	margin-right: 0.5%;

}
form button{
	width: 8%;
	background: white;
	padding: 10px;
	border: none;
}
#messages{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd){
	background: #eee;
}
.first_message{
	font-style: italic;
	font-weight: bold; 
}
.title{
	text-align: center;
}